@font-face {

    font-family: acumin-pro;
    
    src: url(../fonts/Acumin\ Pro\ Medium.otf)
    
    }

:root{
    --primary-color: #5d17bf;
    --font-color: #ACA4B4;
    --font-white: #fcfcfc;
}

*{
    font-family: acumin-pro;
}

html{
    scroll-behavior: smooth;
}

body{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: var(--font-white);
}

main{
    width: 100%;
}

/* COMIENZA LA PERSONALIZACION DEL HEADER */
header{
    display: flex;
    align-items: center;
    width: 85vw;
    padding: .5em;
    border-radius: 20px;
    margin: 1.5em 0;
    background-color: var(--primary-color);

}

nav{
    width: 100vw;
    display: flex;
    justify-content: center;
}

nav a{
    color: var(--font-color);
    text-decoration: none;
    font-size: 1.2em;
}
nav .centro{ 
    margin: .5em 1.3em 0 1.3em;
    transition: .3s border-bottom, .3s padding-bottom, .3s color;
}

nav .centro:hover{
    color: var(--font-white);
    border-bottom: 2px solid var(--font-white);
    padding-bottom: 5px;
}
nav .derecha{
    background-color: #fcfcfc;
    border: 1.5px solid var(--primary-color);
    color: var(--primary-color);
    border-radius: 10px;
    padding: 10px;
    position: relative;
    top: 0;
    left: 16%;
    transition: .3s border;
}

nav .derecha:hover{
    border: 1.5px solid black;
}

header img{
    position: relative;
    left: 10px;
}
/* FINALIZA LA PERSONALIZACION DEL HEADER */

/* INICIA LA PERSONALIZACION DEL HERO */
main{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.hero{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    width: 85vw;
    padding: .5em .5em 0 .5em;
    background: linear-gradient(to bottom, rgb(93 23 191/1), rgb(93 23 191/.7)),url("../img/texto-fondo2.png");
}

.hero h1{
    text-align: center;
    font-size: 3.5em;
    color: var(--font-white);
    margin: 0.5em 0;
}

.hero span{
    color: #f2b807;
}

.redes{
    display: flex;
    width: 100vw;
    height: 4vw;
    justify-content: center;
    align-items: center;
}

.redes a{
    margin: 0 .5em;
    padding: 10px;
    border-radius: 50%;
    background-color: #7a35c4;
    color: var(--font-color);
    transition: .5s border;
    border: 1px solid #7a35c4;
}

.redes a:hover{
    border: 1px solid black;
}

.hero img{
    background-position: center;
    background-repeat: no-repeat;
    margin: 1em 0 0 0;
    filter: drop-shadow(0 0 .75rem var(--font-white));
}

/* FIN DEL HERO */


/* INICIO DE SERVICES */
.servicios{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    width: 85vw;
    /* padding: .5em; */
    margin: 10em 0 7em;
}

.servicios h2{
    font-size: 2.5em ;
    width: 100vw;
    margin: 0;
}

.servicios p{
    color: var(--font-color);
    font-size: 1.2em;
}

.cajas-servicios{
    width: 100%;
    display: flex;
    justify-content: space-between;
}


.serv{
    flex: 1;
    padding: 4em 0;
    margin: 2em;
    border-radius: 15px;
    transition: .5s background-color, .5s box-shadow, .5s color;
}

.serv i{
    font-size: 2.5em;
}
 
.serv h3{
   margin: 1.5em 0 0;
   font-size: 1.5em;
}

.serv:hover{
    background-color: var(--primary-color);
    box-shadow: 0 0 .5em black;
    color: var(--font-white);
}
/* FIN DE SERVICIOS */

/* INICIO DE ACERCA */

.acerca{
    width: 85vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: var(--primary-color);
    border: 1px solid black;
    border-radius: 20px;
}

.cont-acerca{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background-color: var(--font-white);
    margin: 1.5em;
    border-radius: 15px;
}

.cont-acerca h2{
    width: 100%;
    text-align: center;
    font-size: 2.5em;
    margin: 1em 0 0;
}

.cont-acerca .subtitulo{
    width: 100%;
    text-align: center;
    color: var(--font-color);
    font-size: 1.2em;
}

.cont-acerca .descripcion{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.descripcion img{
    margin: 0 1em;
}

.descripcion .texto{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin: 2em;
    padding: 2vw;
}

.texto p{
    width: 100%;
    text-align: justify;
    font-size: 1.2em;
    color: var(--font-color);
}

.texto a{
    background-color: var(--primary-color);
    color: var(--font-white);
    text-decoration: none;
    border-radius: 5px;
    padding: 10px 20px;
    transition: .5s border;
    border: 1px solid white;
}

.texto a:hover{
    border: 1px solid black;
}

.acerca .habilidades{
    display: flex;
    width: 100%;
    justify-content: space-around;
    padding: 1em;
}

.todos{
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: var(--font-white);
    padding: 1vw 0;
    margin: 1vw;
    border-radius: 15px;
}

.todos h2{
    margin: 0;
}

.todos img{
    width: 8vw;
}

.todos p{
    width: 100%;
    text-align: center;
}
/* FIN ACERCA DE */

/* INICIO PROYECTOS */
.proyectos{
    display:flex;
    flex-wrap:wrap;
    justify-content: center;
    align-items: center;
    width: 85%;
    margin: 10em 0;
    padding: .5em;
}

.proyectos h2{
    width: 100%;
    font-size: 2.5em;
    text-align: center;
    margin: 0;
}

.proyectos p{
    width: 100%;
    text-align: center;
    color: var(--font-color);
}

.proyectos .botones{
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
}

.botones a{
    padding: .5em;
    margin: 1em;
    background-color: #f2f2f2;
    text-decoration: none;
    border-radius: 5px;
    color: var(--font-color);
    transition: .5s background-color, .5s color;
}

.botones a:hover{
    color: var(--font-white);
    background-color: var(--primary-color);
}

.proyec{
    width: 100%;
    display: flex;
    justify-content: space-between;

}

.proyec a{
    margin: 10px;
    border-radius: 10px;
}

.proyec-1{
    flex: 1;
    height: 50vh;
    background-image: url("../img/proyec-1.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.proyec-1:hover{
    background-image: linear-gradient(rgb(93 23 191/.5), rgb(93 23 191/.5)) , url("../img/proyec-1.png");
}

.proyec-2{
    flex: 1;
    height: 50vh;
    background-image: url("../img/proyec-2.png");
    background-color: inherit;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.proyec-2:hover{
    background-image: linear-gradient(rgb(93 23 191/.5), rgb(93 23 191/.5)) , url("../img/proyec-2.png");
}

.proyec-3{
    flex: 1;
    height: 50vh;
    background-image: url("../img/proyec-3.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.proyec-3:hover{
    background-image: linear-gradient(rgb(93 23 191/.5), rgb(93 23 191/.5)) , url("../img/proyec-3.png");
}

.most-mas{
    padding: .5em 1em;
    margin: 1em;
    background-color: #f2f2f2;
    text-decoration: none;
    border-radius: 5px;
    color: var(--font-color);
    transition: .5s background-color, .5s color;
}

.most-mas:hover{
    color: var(--font-white);
    background-color: var(--primary-color);
}
/* FIN PROYECTOS */

/* INICIO CONTACTO */

.contacto{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 85vw;
    margin: 0 0 10em 0;
}

.contacto h2{
    width: 100%;
    text-align: center;
    font-size: 2.5em;
    margin: 0;
}

.contacto p{
    color: var(--font-color);
}

form{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
}

form input, form textarea{
    width: 40%;
    height: 5vh;
    margin: 10px;
    border-radius: 5px;
    border: 1px solid var(--font-color);
    padding: 10px;
}

form select{
    width: 42%;
    height: 8.5vh;
    margin: 10px;
    border-radius: 5px;
    border: 1px solid var(--font-color);
    padding: 10px;
    color: var(--font-color);

}

.detail-project{
    border: 1px solid var(--font-color);
    border-radius: 5px;
    margin: 10px;
    width: 40%;
    height: 20vh;
    resize: none;
}

.bot-enviar{
    text-decoration: none;
    color: var(--font-white);
    padding: .8em 1.2em;
    background-color: var(--primary-color);
    border-radius: 10px;
    position: relative;
    left: 33.5vw;
}

.bot-enviar:hover{
    border: 1px solid black;
}
/* FIN DE CONTACTO */

/* INICIO FOOTER */
footer{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--primary-color);
    color: var(--font-color);
}

footer h2{
    color: var(--font-white);
}

footer p{
    color: var(--font-color);
}

footer a{
    text-decoration: none;
}

.cont-logo{
    flex: 2;
    margin: 3em;
}

.logo{
    width: 2.5em;
}

.cont-logo a{
    margin: 0 .5em;
    padding: 7px;
    border-radius: 50%;
    background-color: #7a35c4;
    color: var(--font-color);
    transition: .5s border;
    border: 1px solid #7a35c4;
}

.cont-logo a iframe{
    text-align: center;
}

.cont-logo a:hover{
    border: 1px solid black;
}

.cont-logo p{
    margin: 2em 0;
}

.cont-enlaces{
    flex: 1;
    margin: 3em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cont-serv{
    flex: 1;
    margin: 3em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cont-contacto{
    flex: 1;
    margin: 3em;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.cont-contacto h2{
    width: 100%;
}

.numero p, .ubi p, .mail p{
    display: inline-block;
}